@import "colors";

$body-font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, arial,
  sans-serif;
$base-font-size: 11pt;
$primary-color: $mine-shaft;
$secondary-color: $cello;
$tertiary-color: $teak;
$container-width: 21cm;
$section-spacer-lg: 0.6cm;
$section-spacer-md: 0.45cm;
$section-spacer-sm: 0.3cm;
