@import "../../../styles/variables";

.item {
  margin-bottom: $section-spacer-lg;
}

.img {
  max-width: 1cm;
}

.calendar {
  width: $section-spacer-sm;
  margin-right: 0.2cm;
  color: $cello;
}

.icon {
  width: 0.8cm;
  height: 0.8cm;
  align-items: center;
  margin: auto;
}

.titleContainer {
  grid-template-columns: 1cm auto;
  column-gap: $section-spacer-sm;
  margin-bottom: $section-spacer-sm;
}

.heading {
  grid-template-columns: auto auto;
  align-items: flex-end;
}

.copy {
  margin: 0.1cm 0 0;
}

.term {
  color: $secondary-color;
}

.ulList { margin: 0; }